<app-modal #modalComponent>
	<ng-container>
		<div class="w-full flex flex-col items-end p-4 m-4">
			<button type="button" class="btn-close close pull-right text-gray-100" aria-label="Close" (click)="closeModal()">
				<span aria-hidden="true" class="visually-hidden" style="font-size: x-large">&times;</span>
			</button>
		</div>
		<div class="w-full">
			<div class="flex flex-wrap">
				<ng-template [ngTemplateOutlet]="projectDescription"></ng-template>
				<ng-template [ngTemplateOutlet]="projectRepository"></ng-template>
			</div>
		</div>
	</ng-container>
</app-modal>

<ng-template #projectDescription>
	<div class="p-6 md:w-1/2 flex flex-col items-start">
		<span class="inline-block py-1 px-2 rounded bg-blue-50 text-blue-500 text-xs font-medium tracking-widest mb-4">
			{{ portfolioSelected?.name | translate }}
		</span>

		<div class="border-double border-4 rounded-lg color-border-azure pt-6 mb-4 w-full">
			<span class="py-1 px-2 rounded bg-blue-50 text-blue-500 text-xs font-medium tracking-widest mb-2 ml-2">Demo</span>
			<br />
			<iframe
				class="w-full youtube-video"
				[src]="portfolioSelected?.preview | safeUrl : 'resourceUrl'"
				loading="lazy"
				[title]="portfolioSelected?.name"
				frameborder="0"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
				allowfullscreen
			></iframe>
		</div>
		<div class="border-double border-4 p-6 rounded-lg color-border-azure pt-6 w-full">
			<span class="py-1 px-2 rounded bg-blue-50 text-blue-500 text-xs font-medium tracking-widest mb-2">
				{{ 'general.description' | translate }}</span
			>
			<br />
			<p class="leading-relaxed mb-8 text-gray-100">{{ portfolioSelected?.description | translate }}</p>
		</div>
	</div>
</ng-template>

<ng-template #projectRepository>
	<div class="p-6 md:w-1/2 flex flex-col items-start">
		<span class="inline-block py-1 px-2 rounded bg-blue-50 text-blue-500 text-xs font-medium tracking-widest mb-4">
			{{ 'general.technologies-tools' | translate }}</span
		>
		<div
			class="border-double border-4 p-6 rounded-lg color-border-azure ml-2 pt-6 mb-4"
			*ngFor="let repository of portfolioSelected?.repositories"
		>
			<div class="group flex relative w-full">
				<span class="py-1 px-2 rounded bg-blue-50 text-blue-500 text-xs font-medium tracking-widest mb-2">
					<a [href]="repository?.link" target="_blank" rel="noopener noreferrer">
						{{ repository?.type }}
					</a>
				</span>
			</div>

			<br />

			<app-technologies [technologies]="repository?.technologies" class="tooltip-proyect" />

			<br />

			<div class="group flex justify-center w-full mt-2">
				<span class="py-1 px-2 rounded bg-blue-50 text-blue-500 text-xs font-medium tracking-widest mb-2">
					<a [href]="repository.link" target="_blank" rel="noopener noreferrer">
						<div>
							{{ 'general.repository' | translate }}
							<img style="display: inline" src="assets/technologies/github.svg" height="25px" alt="GitHub" loading="lazy" width="25px" />
						</div>
					</a>
				</span>
			</div>
			<br />
		</div>
	</div>
</ng-template>
