* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

body {
	font-family: 'Poppins', sans-serif;
	@apply text-gray-100;
	overflow-x: hidden;
	overflow-y: hidden;
}

:root {
	--header-height: 64px;
	--prim: hsla(230, 90%, 10%, 0.7);
	--sec: hsla(260, 95%, 10%, 0.7);
}

.box {
	@apply mx-auto;
	@media only screen and (min-width: 960px) {
		max-width: 900px;
	}
	@media only screen and (min-width: 1440px) {
		max-width: 1400px;
		/* styles for browsers larger than 1440px; */
	}
	@media only screen and (min-width: 2000px) {
		max-width: 1600px;
		/* for sumo sized (mac) screens */
	}
}
