<section #contact id="contact" class="text-gray-600 body-font visibility-hidden">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">

            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900 dark:text-slate-200">Contactame</h1>
        </div>
        <div class="flex flex-wrap -m-4">
            <div class="xl:w-1/3 md:w-1/2 p-4">
                <div class="border border-gray-200 p-6 rounded-lg">
                    <a href="https://wa.me/51961008127?text=Hola%20quiero%20contactarme%20" target="_blank"
                        rel="noopener noreferrer">
                        <div
                            class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-blue-100 text-blue-500 mb-4 icon-selected">
                            <fa-icon class="fa-lg" [icon]="faWhatsapp"></fa-icon>
                        </div>
                        <h2 class="text-lg text-gray-900 font-medium title-font mb-2 dark:text-slate-300">WhatsApp</h2>
                    </a>

                    <p class="leading-relaxed text-base dark:text-slate-400">¿ Tienes alguna idea ?, cuentamela por WhatsApp</p>
                </div>
            </div>
            <div class="xl:w-1/3 md:w-1/2 p-4">
                <div class="border border-gray-200 p-6 rounded-lg">
                    <a href="mailto: jaimeburgostejada@gmail.com" target="_blank" rel="noopener noreferrer">
                        <div
                            class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-blue-100 text-blue-500 mb-4 icon-selected">
                            <fa-icon class="fa-lg" [icon]="faEnvelope"></fa-icon>
                        </div>
                        <h2 class="text-lg text-gray-900 font-medium title-font mb-2 dark:text-slate-300">Email</h2>
                    </a>

                    <p class="leading-relaxed text-base dark:text-slate-400">¿ Tienes alguna idea ?, cuentamela por correo</p>
                </div>
            </div>
            <div class="xl:w-1/3 md:w-1/2 p-4">
                <div class="border border-gray-200 p-6 rounded-lg">
                    <a href="https://www.linkedin.com/in/jaime-burgos-tejada-a45697203/" rel="noopener noreferrer"
                        target="_blank">
                        <div
                            class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-blue-100 text-blue-500 mb-4 icon-selected">
                            <fa-icon class="fa-lg" [icon]="faLinkedin"></fa-icon>
                        </div>
                        <h2 class="text-lg text-gray-900 font-medium title-font mb-2 dark:text-slate-300">Linkedin</h2>

                    </a>

                    <p class="leading-relaxed text-base dark:text-slate-400">Tambien puedes encontrar mi perfil de Linkedin</p>
                </div>
            </div>



        </div>
    </div>
</section>