<footer appAddAnimation class="footer">
	<div class="footer__shell">
		<p>
			© {{ date | date: 'yyyy' }} Jaime Burgos Tejada -
			<a href="https://github.com/SkyZeroZx" rel="noopener noreferrer" aria-label="Read more in GitHub" target="_blank">@SkyZeroZx</a>
		</p>
		<nav aria-label="Social profiles">
			<a href="https://github.com/SkyZeroZx" rel="noopener noreferrer" target="_blank" aria-label="GitHub profile">
				<fa-icon [icon]="faGithub" />
			</a>
			<a
				aria-label="LinkedIn profile"
				href="https://www.linkedin.com/in/jaime-burgos-tejada-a45697203/"
				rel="noopener noreferrer"
				target="_blank"
			>
				<fa-icon [icon]="faLinkedinIn" />
			</a>
		</nav>
	</div>
</footer>
