<footer class="text-gray-600 body-font" style="height: 50px;">
    <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
        <p class="text-sm text-blue-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© {{
            date |
            date: "yyyy" }} Jaime Burgos Tejada —
            <a href="https://github.com/SkyZeroZx" class="text-blue-600 ml-1" rel="noopener noreferrer"
                aria-label="Read more in github" target="_blank">@SkyZeroZx</a>
        </p>
        <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
            <div class="ml-3 ">
                <a href="https://github.com/SkyZeroZx" rel="noopener noreferrer" target="_blank"
                    aria-label="Read more in the repository github">
                    <fa-icon class="fa-lg" style="color: #3d6bf3  !important;" [icon]="faGithub"></fa-icon>
                </a>
            </div>
            <a class="ml-3 text-blue-500" aria-label="view linkedin"
                href="https://www.linkedin.com/in/jaime-burgos-tejada-a45697203/" rel="noopener noreferrer"
                target="_blank">
                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                    <path stroke="none"
                        d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
                    </path>
                    <circle cx="4" cy="4" r="2" stroke="none"></circle>
                </svg>
            </a>
        </span>
    </div>
</footer>