<!-- visibility-hidden -->
<section #experience id="experience" class="text-gray-600 body-font overflow-hidden" >
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap w-full mb-20 flex-col items-center text-center">
            <h1 class="sm:text-4xl text-2xl font-medium title-font mb-2 text-gray-900 dark:text-slate-200">Experiencia
            </h1>
        </div>
        <div class="-my-8 divide-y-2 divide-gray-100">
            <div [id]="experience.id"  class="py-8 flex flex-wrap md:flex-nowrap visibility-hidden" *ngFor="let experience of listExperience">
                <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                    <span class="font-semibold title-font text-gray-700 dark:text-slate-200">{{experience.company}}</span>
                    <span class="mt-1 text-gray-500 text-sm dark:text-slate-400">{{experience.period}}</span>
                </div>
                <div class="md:flex-grow">
                    <h2 class="text-2xl font-medium text-gray-900 title-font mb-2 dark:text-slate-200">{{experience.jobTitle}}</h2>
                    <p class="leading-relaxed dark:text-slate-400" *ngFor="let activity of experience.activities">
                        {{activity}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>