.fixed-container {
  margin-left: 36px;
}

.fixed-span {
  margin-left: 36px !important;
  margin-right: 5px !important;
  color: #3dcafd !important;
}

@media (max-width: 900px) {
  p {
    margin-left: 2em !important;
  }

  .fixed-span {
    display: none;
    // margin-left: 0px !important;
    // margin-right: 0px !important;
    color: #3dcafd !important;
  }
}

.outline-text-h1 {
  -webkit-text-stroke: 1px #115498;
}