<ol class="timeline" [class.timeline--compact]="compact()">
	@for (timeline of listTimeline(); track timeline.id) {
		<li appAddAnimation class="timeline__item" [id]="timeline.id" [animationOptions]="animationOptions()">
			<span class="timeline__marker" aria-hidden="true">
				<fa-icon [icon]="markerIcon()" />
			</span>

			<div class="timeline__content">
				<div class="timeline__heading">
					<h3>{{ timeline.title | translate }}</h3>
					<span>{{ timeline.subTitle | translate }}</span>
				</div>

				<time>{{ timeline.period | translate }}</time>

				@if (timeline.descriptions?.length) {
					<ul>
						@for (description of timeline.descriptions; track description) {
							<li>{{ description | translate }}</li>
						}
					</ul>
				}
			</div>
		</li>
	}
</ol>
