.youtube-video {
  padding-top: 2em;
  height: 55vh !important;
  padding-bottom: 2.5em;
}

.tooltip-container {
  margin-top: 0px;
  margin-bottom: 0px;
  border-bottom-width: 0px;
  bottom: 68px;
  right:  25px;
  width: 120px !important;
  z-index: 9999;
}
